<form>
    
    <app-loading tipo="danger" mensaje="" *ngIf="error"></app-loading>
    
    <div class="form-horizontal animated fadeIn faster" *ngIf="usuarios.length > 0">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Usuarios activos ( {{ usuarios.length }} )</b>
                    </div>
                    <div class="panel-heading">
                        <div class="col-sm-12"><a [routerLink]="'../ingresar'">Ingresar usuario</a></div>
                    </div>
                    <div class="panel-body">
                        <table id="tbl" name="tbl" class="tabla tabla-hover table-bordered">
                            <tr style="font-size:7px; font-weight:bold; background-color:#f7f7f7" align="center">
                                <td width="20%">Nombre</td>
                                <td width="10%">Fecha nacimiento</td>
                                <td width="20%">Foto</td>
                                <td width="10%">Estado civil</td>
                                <td width="10%">Tiene hermanos</td>
                            </tr>
                            <tr style="font-size:11px" align="center" *ngFor="let u of usuarios; let i = index">
                                <td><a [routerLink]="'../detalle/' + u.Cod_Usuario">{{ u.Nombre }} {{ u.Apellido }}</a></td>
                                <td>{{ u.Fecha_Nacimiento}}</td>
                                <td>{{ u.Foto }}</td>
                                <td><div *ngIf="u.Estado_Civil==1">CASADO</div><div *ngIf="u.Estado_Civil!=1">SOLTERO</div></td>
                                <td><div *ngIf="u.Tiene_Hermanos==1">SI</div><div *ngIf="u.Tiene_Hermanos!=1">NO</div></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
