<form [formGroup]="forma" (ngSubmit)="actualizar()">
    <div class="form-horizontal animated fadeIn faster">
        <div class="panel panel-default">
            <div class="panel-heading">Detalle usuario</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width">
                            <input type="hidden" formControlName="Cod_Usuario">
                            <input matInput formControlName="Nombre" id="Nombre" placeholder="Nombre:">
                        </mat-form-field>
                        <small *ngIf="forma.controls['Nombre'].invalid && forma.controls['Nombre'].touched" class="text-danger"><b>Ingrese nombre!!</b></small>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="full-width">
                            <input matInput formControlName="Apellido" id="Apellido" placeholder="Apellido:">
                        </mat-form-field>
                        <small *ngIf="forma.controls['Apellido'].invalid && forma.controls['Apellido'].touched" class="text-danger"><b>Ingrese apellido!!</b></small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <mat-form-field class="full-width">
                            <input matInput formControlName="Fecha_Nacimiento" id="Fecha_Nacimiento" placeholder="Fecha nacimiento:">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="full-width">
                            <input matInput formControlName="Foto" id="Foto" placeholder="Foto:">
                        </mat-form-field>
                        <input type="file" formControlName="Foto" id="Foto" (change)="fileEvent($event)">
                        <!-- <input type="button" value="Cargar" (click)="subirArchivo()"> -->
                    </div>

                    <div class="col-sm-2">
                        <!-- <img *ngIf="!imgTemp" [src]="modalImagenService.img" class="img-avatar"> -->
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" width="80" height="80">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <mat-form-field appearance="fill" style="width: 100%;"> 
                            <mat-label>Estado civil</mat-label>
                            <select matNativeControl required style=" font-size: 30px;" id="Estado_Civil" formControlName="Estado_Civil">
                              <option value="0">SOLTERO</option>
                              <option value="1">CASADO</option>
                            </select>
                          </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="fill" style="width: 100%;"> 
                            <mat-label>Tiene Hermanos</mat-label>
                            <select matNativeControl required style=" font-size: 30px;" id="Tiene_Hermanos" formControlName="Tiene_Hermanos">
                              <option value="1">SI</option>
                              <option value="0">NO</option>
                            </select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <button mat-raised-button color="primary" type="button" (click)="regresar()">Regresar</button>
                    </div>
                    <div class="col-sm-6">
                        <button mat-raised-button color="primary" type="button" (click)="actualizar()">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
        <app-loading tipo="danger" [mensaje]="mensaje" *ngIf="error"></app-loading>
    </div>

</form>



